{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arike</title>
    {% tailwind_css %}
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
</head>
<body>
    <div class="flex">
        <div class="flex flex-col w-64 h-screen px-4 py-8 overflow-y-auto border-r">
        <h2 class="text-3xl font-semibold text-left text-gray-800">Arike</h2>


        <div class="flex flex-col justify-between mt-6">
            <aside>
            <ul>
                <li>
                <a class="flex items-center px-4 py-2 text-gray-600 rounded-md  hover:bg-gray-200 {% if request.path == '/' %} text-white bg-gray-700 {% endif %}" href="/">
                    <span class="mx-4 font-medium">Home</span>
                </a>
                </li>

                <li>
                    <a class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200 {% if '/detail/user/' in request.path %} text-white bg-gray-700 {% endif %}" href="/detail/user/{{ request.user.id }}">
                        <span class="mx-4 font-medium">Profile </span>
                    </a>
                </li>

                {% if request.user.role == "District Admin" %}
                <li>
                <a class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200 {% if '/list/users' in request.path %} text-white bg-gray-700 {% endif %}" href="/list/users">
                    <span class="mx-4 font-medium">Users</span>
                </a>
                </li>
                {% endif %}
                {% if request.user.role == "District Admin" %}
                <li>
                    <a class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200 {% if '/list/facility' in request.path %} text-white bg-gray-700 {% endif %}" href="/list/facility">
                        <span class="mx-4 font-medium">Facilities </span>
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200 {% if '/list/patient' in request.path %} text-white bg-gray-700 {% endif %}" href="/list/patient">
                        <span class="mx-4 font-medium">Patients </span>
                    </a>
                </li>

                <li>
                    <a class="flex items-center px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200 {% if '/list/visitschedule' in request.path %} text-white bg-gray-700 {% endif %}" href="/list/visitschedule">
                        <span class="mx-4 font-medium">Visits </span>
                    </a>
                </li>


                <li>
                    <a class="flex flex-col items-start px-4 py-2 mt-5 text-gray-600 rounded-md hover:bg-gray-200" href="/logout">
                        <span class="mx-4 text-gray-700 font-medium">{{ request.user }}</span>
                        <span class="mx-4 font-medium">Logout </span>
                    </a>
                </li>
            </ul>

            </aside>
            
        </div>
        </div>
        <div class="w-screen h-screen p-4  overflow-y-auto bg-gray-100">
        <div class="flex flex-col px-40">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</body>
</html>