{% extends "base_dashboard.html" %}
{% block content %}
    <div class="flex justify-between  my-8">
        <h1 class="text-3xl font-bold text-gray-800">Users</h1>
        <a class="bg-gray-800 text-white font-bold text-1xl px-3 py-1 rounded-md text-center" href="/create/user">New</a>
    </div>

    <div id="list_of_users" class="flex wrap">
        {% for user in users %}
            <a class="px-3 py-2 bg-white m-2 rounded-md" href="/detail/user/{{ user.id }}">
                <p class="font-semibold">{{ user.username }}</p>
                {{ user.fullname }}
                <p>{{ user.email }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock content %}